.right-slide-in {
    z-index: 1;
    -webkit-animation: right-slide-in-anim ease-out 0.5s forwards;
    animation: right-slide-in-anim ease-out 0.5s forwards;
}
@-webkit-keyframes right-slide-in-anim {
    0% { left: 100%; }
    100% { left: 0; }
}
@keyframes right-slide-in-anim {
    0% { left: 100%; }
    100% { left: 0; }
}
.right-slide-out {
    z-index: 0;
    -webkit-animation: right-slide-out-anim ease-out 0.5s forwards;
    animation: right-slide-out-anim ease-out 0.5s forwards;
}
@-webkit-keyframes right-slide-out-anim {
    0% { left: 0; }
    100% { left: -100%; display: none; }
}
@keyframes right-slide-out-anim {
    0% { left: 0; }
    100% { left: -100%; display: none; }
}
.left-slide-in {
    z-index: 1;
    -webkit-animation: left-slide-in-anim ease-out 0.5s forwards;
    animation: left-slide-in-anim ease-out 0.5s forwards;
}
@-webkit-keyframes left-slide-in-anim {
    0% { left: -100%; }
    100% { left: 0; }
}
@keyframes left-slide-in-anim {
    0% { left: -100%; }
    100% { left: 0; }
}
.left-slide-out {
    z-index: 0;
    -webkit-animation: left-slide-out-anim ease-out 0.5s forwards;
    animation: left-slide-out-anim ease-out 0.5s forwards;
}
@-webkit-keyframes left-slide-out-anim {
    0% { left: 0; }
    100% { left: 100%; display: none; }
}
@keyframes left-slide-out-anim {
    0% { left: 0; }
    100% { left: 100%; display: none; }
}

.bottom-slide-in {
    z-index: 1;
    -webkit-animation: bottom-slide-in-anim ease-out 0.5s forwards;
    animation: bottom-slide-in-anim ease-out 0.5s forwards;
}
@-webkit-keyframes bottom-slide-in-anim {
    0% { top: 100%; }
    100% { top: 0; }
}
@keyframes bottom-slide-in-anim {
    0% { top: 100%; }
    100% { top: 0; }
}
.bottom-slide-out {
    z-index: 0;
    -webkit-animation: bottom-slide-out-anim ease-out 0.5s forwards;
    animation: bottom-slide-out-anim ease-out 0.5s forwards;
}
@-webkit-keyframes bottom-slide-out-anim {
    0% { top: 0; }
    100% { top: -100%; display: none; }
}
@keyframes bottom-slide-out-anim {
    0% { top: 0; }
    100% { top: -100%; display: none; }
}
.top-slide-in {
    z-index: 1;
    -webkit-animation: top-slide-in-anim ease-out 0.5s forwards;
    animation: top-slide-in-anim ease-out 0.5s forwards;
}
@-webkit-keyframes top-slide-in-anim {
    0% { top: -100%; }
    100% { top: 0; }
}
@keyframes top-slide-in-anim {
    0% { top: -100%; }
    100% { top: 0; }
}
.top-slide-out {
    z-index: 0;
    -webkit-animation: top-slide-out-anim ease-out 0.5s forwards;
    animation: top-slide-out-anim ease-out 0.5s forwards;
}
@-webkit-keyframes top-slide-out-anim {
    0% { top: 0; }
    100% { top: 100%; display: none; }
}
@keyframes top-slide-out-anim {
    0% { top: 0; }
    100% { top: 100%; display: none; }
}
